@mixin buttonCommonSettings {
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button-basic {
    .button-report {
        .button-submit {
            .button-warning {
                @include buttonCommonSettings;
            }
        }
    }
}

.button-report {
    background-color: red;
  }
  

.button-submit {
    background-color: green;
    color: white;
}

.button-warning {
    background-color: orange;
    color: red;
}
