.przycisk {
    margin: 10px;
}

.przyciski {
    margin-inline: 10px;
    display: flex;
    justify-content: space-between;
}

#stopka {
    background-color: blue;
    color: white;
    height: 50px;
}